<!DOCTYPE html>

<head>
</head>

<body>

    <h3> GnuPG Key Archive - 0x{{ key_id }}</h3>

    <div>
        <pre>
        {{ paperkey_b16 }}
        </pre>

    </div>


    <div class="keep-together">
        <hr>

        <pre>-----BEGIN PRIVATE QR CODES-----</pre>

        {% for img in qr_images %}

        <img src="data:image/jpeg;base64,{{img.decode('ascii') | safe }}" />

        {% endfor %}

        <pre>-----END PRIVATE QR CODES-----</pre>

    </div>

    <div>

        <pre>-----BEGIN PUBLIC QR CODES-----</pre>

        {% for img in qr_images %}

        <img src="data:image/jpeg;base64,{{img.decode('ascii') | safe }}" />

        {% endfor %}

        <pre>-----END PUBLIC QR CODES-----</pre>

        <hr>

    </div>


    <div class="break-before">
        <pre>
            {{ ascii_key }}
        </pre>
    </div>

    <div>
        <pre>
            {{ public_key_ascii }}
        </pre>
    </div>

</body>

</html>