<!DOCTYPE html>

<head>

    <style>
        .keep-together {
            page-break-inside: avoid;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }
    </style>
</head>

<body>

    <div class="keep-together break-after">
        <code>
        {{ paperkey_b16.replace('\n', '<br>') }}
    </code>
        <hr>
    </div>


    <div class="keep-together break-before">
        <code>
            {{ ascii_key.replace('\n', '<br>') }}
        </code>
        <hr>
    </div>


    <div class="keep-together break-before">
        <p>QR Codes:</p>

        {% for img in qr_images %}

        <img src="data:image/jpeg;base64,{{img.decode('ascii') | safe}}" alt="Red dot" />

        {% endfor %}

        <hr>

    </div>

</body>

</html>